 <html>
<head>
<link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>
<span>{{timestamp}}</span>
<div class="container">

<img class="profile-image" src="{{image}}"/>
<h1>{{name}}</h1>
<h2>Company:{{company}}</h2>
<h3>Languages</h3>
<ol>
 {{#language}}
<li>
  {{.}}
  </li>
  {{/language}}
  </ol>
  <form action="/addprofile" method="post">
    <input type="text" name="name" placeholder="Name"/><br/>
    <input type="text" name="image"  placeholder="Image(/images/example.jpg)"/><br/>
    <input type="text" name="username" placeholder="Username"/><br/>
    <input type="text" name="company" placeholder="company"/><br/>
    <input type="text" name="language" placeholder="Languages"/><br/>
    <input type="submit" value="add profile"/>
   </form>
   </div>
</body>
</html>
